<div class="form-control" [formGroup]="args.formGroup">
  <label class="label">
    <span class="label-text">{{ args.label }}</span>
  </label>
  <input [type]="args.type" [placeholder]="args.placeholder" class="input input-bordered" [formControlName]="args.formControlName">
  <label *ngIf="lastError" class="label">
    <span class="label-text-alt">{{ lastError }}</span>
  </label>
</div>
