<div class="">
  <form [formGroup]="loginForm" (ngSubmit)="handleLoginFormSubmit()">
    <app-text-input *ngIf="loginInputParams" [args]="loginInputParams"></app-text-input>
    <app-text-input *ngIf="passwordInputParams" [args]="passwordInputParams"></app-text-input>
    <div class="flex flex-col space-y-2 mt-4">
      <button class="btn btn-primary" type="submit">Login</button>
      <div class="flex flex-row space-x-4">
        <button class="btn btn-link btn-active btn-sm p-0" type="submit">Forgot password?</button>
        <button class="btn btn-link btn-active btn-sm p-0" type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
